///// ELEMENTS ONLY FOR HOME PAGE



.slider-home-banner{
	.carousel-item img {
		width: 100%; height:375px;
		object-fit: cover; 
 	}
}



.special-home-right{
	.card-banner{
		min-height:112px;
	}
}


.card-deal{
	flex-direction: row;
	.col-heading{ min-width:300px; flex-basis: 350px; flex-shrink:0; }
	.row{ width:100%; }
	.items-wrap{
		> [class*=col]{
			border-left:1px solid $border-color;
		}
	}

	.card-product-grid{ margin-bottom:0; text-align: center }
}



.home-category-banner{
	position:relative; padding:30px; height:100%; overflow: hidden;
	.img-bg{
		position:absolute; right:-50px; bottom:-50px;
		mix-blend-mode: multiply;
		height:260px;
	}
}


.card-home-category{
	.item{
		.card-body{
			@include clearfix;
		}
		.title{
			min-height: 40px; font-weight:500;
		}

		&:hover img{ transform: scale(1.3); transition:.5s; }
	}
}

.banner-quote{ min-height:350px; }

.section-subscribe{
	background-color:lighten($secondary, 5%);
}

